<div class ="container">

  <h2>私訊郵箱</h2>

  <% @conversations.each do |c| %>
    <% if c.sender_id == current_user.id || c.recipient_id == current_user.id %>
      <% if c.sender_id == current_user.id %>
        <% recipient = User.find(c.recipient_id) %>
      <% else %>
        <% recipient = User.find(c.sender_id) %>
      <% end %>
      <%= link_to recipient.name, conversation_messages_path(c) %>
    <% end %>
  <% end %>


</div>