<div class="page-wrap">
<div id ="banner" class="container-fluid">
  <p>Create <span>Y</span>our <span>E</span>xcellent <span>P</span>hotogra<span>P</span>h <span>O</span>nline</p>
</div>

<div class="about_intro">
<h1 id ="logo_img">Yeppo</h1>
<p>Yeppo是一個面向攝影師模特兒，提供網路商家尋找合作人才的平台。我們可以在平台上傳攝影作品和模特照片，也可以在平台上互相聯繫、私訊彼此、並收藏喜歡的作品集！</p>
<!-- <p>Yeppo看到攝影師與模特兒對於彼此的需求，也知道目前台灣市場潛在著專業攝影需求，無奈沒有適合的發展平台以及社群空間。
因此Yeppo期許成為台灣第一的攝影師與模特兒社群平台，建立良好互動關係，創造更多商業機會！</p> -->

<p class="focus">快點來加入我們！</p>

<%= link_to '馬上用fb帳號註冊', user_omniauth_authorize_path(:facebook), :class => "btn btn-warning" %>
</div>
</div>