<div class="container">
<h1 id ="logo">Yeppo</h1>
<p id="my_profile">
  <% if current_user %>
  <%= link_to '我的作品集', user_path(@user) %>
  <% end %>
</p>
<div class="clearfix"></div>
</div>

<div id ="banner" class="container-fluid">
  <p>Get your ideal team for e-commerce photograph!</p>
</div>

<div id="masonry-container" class="transitions-enabled "> 

  <% @shots.each do |s| %>
   <div class="box panel panel-default"> <%=link_to  image_tag(s.photo.url), user_shot_path(s.user, s) %>
   <p class="panel-body">By <%=link_to s.user.name, user_path(@user) %></p>
   </div>
 <% end %>
  
</div>