<div class="container">
<h1 id ="logo">Yeppo</h1>
<p id="my_profile">
  <% if current_user %>
  <%= link_to '我的作品集', user_path(@user) %>
  <% end %>
</p>
<div class="clearfix"></div>

<div id="masonry-container" class="transitions-enabled infinite-scroll centered clearfix"> 
<% @users.publicing.each do |u| %>
    <% u.shots.each do |s| %>
     <p class="box col3"> <%=link_to  image_tag(s.photo.url), user_shot_path(u, s) %></p>
   <% end %>
   <% end %>
</div>