// Place all the styles related to the shots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media(min-width: 481px) and (max-width: 1024px) {
   #shot_self {
    width: 80%;
    margin: 0 auto;
    text-align: center;
   }

   #shot_data {
    width: 50%;
    margin: 0 auto;
    text-align: center;
   }

   #info {
    width: 50%;
    margin: 0 auto;
    text-align: center;
   }

   #comment_wrapper {
   width: 80%;
   margin: 0 auto;
   }

   #comment_table {
    margin: 20px 0;
    width: 100%;
   }
   

}
@media(min-width: 1025px){
   #shot_self {
     float:left;
     width:60%;
  }
   #shot_self img {
   width: 100%;
   }

   #shot_data {
    float:right;
    padding: 5px;
    width: 30%;
  }

   #shot_wrapper {
     width:80%;
  }

  #comment_table {
  width: 100%;
  margin: 20px 0;
}
}

//---------------------------------
input[placeholder] { width: 100% !important; }
#info {
  padding: 20px 5px 0 0;  
}

#author {
  font-size: 1.2em;
}

#created_at{
  color:#888888;
  padding: 0 20px;
}

#tag {
  font-size: 0.9em;
}

#tag_user {
  font-size: 0.9em;
}

#category {
  font-size: 0.9em;
}

#visit {
  font-size: 0.9em;
}

#shot_data li {
  display: inline;
}

#shot_data li img {
  width: 30%;
}

#shot_data {
  border-top: 3px solid black;
  text-align: center;
  padding: 15px 0 15px 0;
}

#more {
  border-top: 3px solid #919191;
  border-bottom: 3px solid black;
}
img {
  padding: 5px;
}

#description {
  padding:5px;
}

#more {
  margin: 10px 0;
}


#more a {
  text-decoration: none;
  color: black;
}

#more a:hover {
  color: #919191;
  text-decoration: none;
}

#comment_wrapper {
  padding: 5px, 0;
}

.comment_submit {
  background: #FFFF59;
}

#submit btn {
  display: inline;
}



//-----------shots new & edit-----------

.forms_container {
  background: #2B2B2B;
  color: white;
  margin-bottom: -130px;
}
 

.forms_container h2 {
  color: #8C8C8C;
  margin-bottom: 20px;
}

.forms_container textarea {
  border: 3px solid #FFFF59;
}
.forms_container .btn {
  border: 3px solid #FFFF59;
  background: #FFFF59;
  color: black;
  margin-right: 10px;
}
.forms_container .cancel {
  background: #8C8C8C;
  color:black;
  border: 3px solid #8C8C8C;
}


