// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#search {
  float: right;
  margin: 30px 0;
}


#logo {
  float:left;
  padding:5px 0;
}

#banner {
  text-align:center;
  background: #2B2B2B;
}

#banner p {
  line-height: 30px;
  padding: 10px;
  margin: 10px;
  font-size: 2em;
  color: white;
}

#heart {
  font-size: 0.8em;
}
#masonry-container {
  margin: 5px auto;
  width: 90%;
  .box {
    margin: 10px;
    width: 350px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 7px;
    text-align: center;
       img {
         max-width: 100%;
         height: auto;
       }
       p {
         font-size: 22px;
         margin: 0;
         padding: 25px 10px;
         a {
           color: #474747;
           text-decoration: none;
         }
         a:hover {
           color: #919191;
         }
       }

    }
}


